@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #eee;
    font-family: 'Oswald', sans-serif;

}

ul{
    background-color: rgb(51, 50, 50);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
        
}

ul li{
    display: inline-block;
    margin-left: 20px;
}


ul li a{
    color: white;
    text-decoration: none;

}
.main-img{
    height: 400px;
    background-image: url('../images/1.PNG');
    background-size: cover;   
    background-repeat: no-repeat;
    background-position: center center;

}

.our-features{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

.our-features h1 {
    color: rgb(228, 53, 53);
    margin-bottom: 20px;
    background-color: rgb(214, 226, 214);
    width: 200px;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;



}


.features {
     display: flex;
}

.features .feature {
    text-align: center;
    background-color: white;
    width: 30%;
    margin:auto;
    padding: 15px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;

}

.features .feature:hover{
    box-shadow: 3px 3px 10px rgb(212, 157, 157);
    transform: translateX(3px);

}

.features .feature i {
    padding: 15px;
    font-size: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;
}

.features .feature h3 {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;


}

/* start content style */

.content {
    padding-top: 50px;
    /* width: 80%; */
    margin: auto;
    text-align: center;
    background-color: white;

}

.content h1 {
    color: red;
    margin-bottom: 20px;
    font-size: 30px;
    
}

.content p {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 0 10%;

}

.content img{
    width: 300px;
    height: auto;
}
.content a {
    font-size: 20px;
    color: cornflowerblue;
    margin-bottom: 30px;
    }

    /* Start contact us */

    .contact_us {
        margin-top: 100px;
        margin-bottom: 100px;

    }


    .contact-form {
        width: 700px;
        background-color: white;
        margin: auto;
        padding: 40px;
        text-align: center;
        border-radius: 5px;

    }
    .input-form {
        margin-bottom: 20px;
    }

    .input-form input {
        width: 400px;
        height: 30px;
        border: 1px solid black;
        border-radius: 3px;

    }
    .input-form textarea {
        width: 400px;
        height: 200px;
        border: 1px solid black;
        border-radius: 3px;

    }
    .action .btn-send {
        background-color: rgb(20, 104, 160);
        color: white;
        width: 200px;
        height: 50px;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;

    }
    ul li:hover{
        background-color: rgb(112, 104, 100);
        cursor: pointer;
        }
    
    .icons .whats {
        background-color: green;
        float: left;
    }
    .icons li i{
        background-color: blue;
        font-size: 50px;
        height: auto;
        padding: 15px;
        font-size: 30px;
        color: white;
        border-radius: 50%;


    }
    .icons li i:hover {
        background-color: rgb(68, 68, 161);


    }
    
